
body, html{
    overflow-x: hidden;
}
header{
    background-image: url('../images/backheader.png'); 
    padding-bottom: 100px;
}
hr{
    border: 1px solid black;
    width: 80%;
    margin: auto;
    margin-top: 5px;
}

.navbar-brand img{
    width: 140px;
}
strong{
    color: #361a83;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
}
.btn-primary, .btn-outline-primary:hover{
    background-color: #361a83 !important;
    color: white !important;
    animation: beat 2s linear infinite;
}
.btn-outline-primary{
    color: #361a83;
    border: 2px solid #361a83;
}
.text-primary{
    color: #361a83 !important;
}
@keyframes beat {

    0%{
        transform: scale(1);
    }
    10%{
        transform: scale(1.03);
    }
    20%{
        transform: scale(1);
    }
    60%{
        transform: scale(1);
    }
    90%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

.back:hover{
    background-color: rgba(255, 255, 255, 0.514);
    transform: scale(1.05);
}

.services{
    background-image: url('.././images/backsection.png');
    background-size: contain;
}
.card{

    background-color: #442a8b8a;
    color: white;
    backdrop-filter: blur(10px);
    transition: all .3s ease-in-out;
}
.card-img-top{
    max-width: 300px;
    margin: auto;
}
.card:hover{
    background-color: #361a83c9;
    transform: scale(1.06);
}
footer{
    background-color: #361a83 !important;
    color: white !important;
    font-weight: bold;
}
